.section-certificate {
  padding-top: 40px;
  padding-bottom: 80px;
  background-image: url('../images/certif-images/section-4-bg.svg');
  background-repeat: no-repeat;
  background-position: 60% 0%;
  background-size: cover;

  @media (min-width: 768px) {
    // background-image: url('../images/certif-images/tablet-bg.jpg');
  }

  @media (min-width: 1440px) {
    // background-image: url('../images/certif-images/desktop-bg.jpg');
  }
}

.section__title-wrapper {
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;

  &_title {
    margin-bottom: 23px;
    letter-spacing: 0.9px;
    color: rgb(255, 255, 255);

    @media (min-width:768px) {
      text-align: left;
      @include font(20px, 700, 45px, rgb(255, 255, 255));
    }
  }

  &_about {
    font-family: $main-font;
    @include font(16px, 700, 22px, rgb(255, 255, 255));
    letter-spacing: 0.48px;

    @media (min-width:768px) {
      @include font(25px, 700, 35px, rgb(255, 255, 255));
      letter-spacing: 1px;
    }

  }

  @media (max-width: 767px) {
    max-width: 230px;
  }

  @media (min-width:768px) {
    text-align: left;
    max-width: 380px;
    margin: 0 0 67px 50px;
  }
}






.certificate-wrapper {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;

  @media (min-width:768px) {
    justify-content: center;
    background-image: url('../images/certif-images/confetti.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

}

.certificate-img {
  box-shadow: 3px 2.5px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all 200ms linear;

  &__certif-1 {
    position: absolute;
    transform: translateX(35%);
  }

  //     &:hover {
  //       transform: scale(1.1) translateX(35%);
  //     }
  //   }

  &__certif-2 {
    // width: 126px;
    // height: 178px;
    padding-top: 12px;

    // &:hover {
    //   position: absolute;
    //   width: 160px;
    //   height: 227px;
    //   z-index: 4;
    //   transform: translateX(35%);
    //   padding: 0;
    // }

    // &:hover .certificate-img__certif-1 {
    //   position: static;
    //   transform: translateX(-35%);
    //   width: 126px;
    //   height: 178px;
    //   padding-top: 24px;
    // }
  }

  &__certif-3 {
    // width: 140px;
    // height: 197px;
    padding-top: 24px;


    // &:hover {
    //   width: 160px;
    //   height: 227px;
    //   padding: 0;
    //   z-index: 3;
    //   transform: translateX(40%);
    // }
  }
}







// @mixin font($fs, $fw, $lh, $fc) {
//   font-size: $fs;
//   font-weight: $fw;
//   line-height: $lh;
//   color: $fc;
// }
