.section-certificate {
  padding: 11% 0 71%;
  background-image: url('../images/certif-images/mobile-bg.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: url('../images/certif-images/tablet-bg.jpg');
    background-position: right;
    padding: 11% 0 50%;
    position: relative;

  }

  @media (min-width: 1440px) {
    background-image: url('../images/certif-images/desktop-bg.jpg');
    padding: 15% 0 10%;

  }
}

.certificate__title-wrapper {
  max-width: 80%;
  margin: 0 auto 35px;
  text-align: center;

  @media (min-width:768px) {
    max-width: 53%;
    text-align: left;
    margin: 0 0 1.4% 7%;
  }

  @media (min-width: 1440px) {
    max-width: 40%;
    margin: 0 0 1.4% 2%;
  }
}

.certificate-title {
  margin: 0 auto 23px;
  letter-spacing: 0.9px;
  color: rgb(255, 255, 255);

  @media (min-width:768px) {
    text-align: left;
    @include font(20px, 700, 45px, rgb(255, 255, 255));
    letter-spacing: 1.2px;
    margin-bottom: 12%;
  }

  @media (min-width: 1440px) {
    @include font(30px, 700, 45px, rgb(255, 255, 255));
    letter-spacing: 1.8px;
    margin-bottom: 5.4%;
  }
}

.certificate-title_about {
  font-family: $main-font;
  @include font(16px, 700, 22px, rgb(255, 255, 255));
  letter-spacing: 0.48px;

  @media (min-width:768px) {
    @include font(25px, 700, 35px, rgb(255, 255, 255));
    letter-spacing: 1px;
  }

  @media (min-width: 1440px) {
    @include font(35px, 700, 50px, rgb(255, 255, 255));
    letter-spacing: 1.4px;
  }
}

.certificate-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;

  @media (min-width:768px) {
    position: absolute;
    background-image: url('../images/certif-images/confetti.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    max-width: 740px;
    top: 50%;


    &::before {
      content: '';
      position: absolute;
      display: block;
      background-image: url('../images/certif-images/planet.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 33.8%;
      height: 135px;
      background-position: center;
      left: 60%;
      bottom: 110%;
    }
  }

  @media (min-width: 1440px) {
    right: 0%;
    top: 0%;
    max-width: 880px;
    height: 770px;

    &::before {
      left: -25%;
      bottom: 65%;
      width: 30%;
      height: 150px;
    }
  }

}

.certificate-img {
  box-shadow: 3px 2.5px 3px 0px rgba(0, 0, 0, 0.3);

}

.certificate__picture {
  position: absolute;
  display: block;
  transition: all 150ms linear;

  &-certif-1 {
    transform: translate(38%, 0);
    z-index: 3;

    &:hover,
    &:focus {
      transform: scale(1.1) translate(38%, 0);
    }

    @media (min-width:768px) {
      width: 34%;
      transform: translate(91%, 18%);

      &:hover,
      &:focus {
        transform: scale(1.1) translate(85%, 20%);
      }
    }

    @media (min-width:1440px) {
      width: 39%;
      transform: translate(72%, 29%);

      &:hover,
      &:focus {
        transform: scale(1.1) translate(65%, 25%);
      }
    }
  }

  &-certif-2 {
    z-index: 1;
    transform: translate(8%, 8%);

    &:hover,
    &:focus {
      z-index: 4;
      transform: scale(1.2) translate(8%, 6%);
    }

    @media (min-width:768px) {
      width: 30%;
      transform: translate(63%, 27%);

      &:hover,
      &:focus {
        transform: scale(1.27) translate(50%, 22%);
      }
    }

    @media (min-width:1440px) {
      width: 34%;
      transform: translate(45%, 42%);

      &:hover,
      &:focus {
        transform: scale(1.27) translate(35%, 33%);
      }
    }
  }

  &-certif-3 {
    z-index: 2;
    transform: translate(100%, 6%);

    &:hover,
    &:focus {
      z-index: 5;
      transform: scale(1.2) translate(85%, 6%);
    }

    @media (min-width:768px) {
      width: 30.5%;
      transform: translate(155%, 26%);

      &:hover,
      &:focus {
        transform: scale(1.27) translate(130%, 22%);
      }
    }

    @media (min-width:1440px) {
      width: 33%;
      transform: translate(140%, 41%);

      &:hover,
      &:focus {
        transform: scale(1.27) translate(115%, 32%);
      }
    }
  }
}
