.footer {
  background-image: url(../../images/footer/footer-bg.jpg);
  background-size: 100% 675px;
  background-repeat: no-repeat;
  background-position: bottom;

  @media (min-width: 768px) {
    background-image: url(../../images/footer/footer-bg-md.jpg);
    background-size: 100% 420px;
  }

  @media (min-width: 1440px) {
    background-image: url(../../images/footer/footer-bg-lg.jpg);
    background-size: 100% 494px;
  }

  &__pic {
    @include size(118px, 188px);
  }
}

.logo {
  display: block;
  margin-bottom: 26px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: start;
    margin-left: 52px;
  }

  &_img {
    margin: 0 auto;

    @media (min-width: 768px) {
      margin: 0;
    }
  }
}

.contacts {
  margin: 0 auto;
  font-family: $main-font;
  @include font(14px, 400, 24px, $main-font-color);
  letter-spacing: 0.56px;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    @include font(16px, 400, 25px, $main-font-color);
    letter-spacing: 0.64px;
    display: flex;
    justify-content: start;
    margin-bottom: 44px;
    margin-left: 52px;
  }

  &__link {
    display: block;
    text-align: center;
    color: $main-font-color;

    @media (min-width: 768px) {
      text-align: left;
      margin-right: 70px;
    }

    &-adress {
      margin-bottom: 30px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      &-br {
        display: block;
      }
    }
  }
}

.media {
  // display: flex;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 48px;
  }

  .btn {
    @extend %btn-base;
    border-radius: 32px;
    display: block;
    margin: 0 auto;
    margin-bottom: 36px;

    @media (min-width: 768px) {
      display: flex;
      margin: 0;
      margin-right: 40px;
      margin-left: 52px;
    }

    &-footer {
      @include btn($btn-color, #ffffff, 22px 76px, 270px);
      @include font(13px, 700, 1.2, #ffffff);
      background: $main-gradient;
      box-shadow: 5.5px 9.526px 16px 0px rgba(90, 118, 233, 0.23);

      @media (min-width: 768px) {
        @include btn($btn-color, #ffffff, 15px 48px, 240px);
        @include font(16px, 700, 26px, #ffffff);
      }
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin: 0;
    }

    @media (min-width: 1440px) {
      display: none;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }

    &__link {
      display: block;
    }

    &__icon-telegram,
    &__icon-facebook,
    &__icon-youtube {
      @include size(42px, 42px);
    }
  }
}

.socials {
  &_desktop {
    display: flex;

    @media (max-width: 1439px) {
      display: none;
    }
  }
}

.terms {
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    margin-left: 52px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;

      @media (min-width: 768px) {
        margin-right: 78px;
        margin-bottom: 0px;
      }
    }
  }

  &__link {
    font-family: $main-font;
    @include font(13px, 400, 25px, $secondary-font-color);
    opacity: 0.55;
    letter-spacing: 0.52px;
  }
}
