.hero-header {
  background-image: url(../../images/header/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 430px;
  background-position: top;
  padding-top: 114px;

  @media (min-width: 768px) {
    background-image: url(../../images/header/header-bg-md.png);
    background-size: 100% 650px;
  }

  &__title {
    @include font(16px, 400, 22px, #ffffff);
    letter-spacing: 0.48px;
    margin-bottom: 36px;

    @media (min-width: 768px) {
      background-image: url(../../images/header/header-bg-md.png);
      background-size: 100% 650px;
    }

    &-br {
      display: block;
    }

    &-wrapper {
      font-family: $main-font;
      text-align: center;
      width: 260px;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 26px;
    }

    &-description {
      @include font(20px, 700, 26px, #ffffff);
      letter-spacing: 0.8px;
      margin-bottom: 38px;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 auto;
    font-family: $main-font;
    @include font(15px, 700, 1.2, #ffffff);
    letter-spacing: 0.9px;

    &::after {
      display: block;
      content: '';
      @include size(100%, 2px);
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &__pic {
    margin: 0 auto;
  }
}

.logo-icon {
  display: inline-block;
  @include size(83px, 22px);
}

.navigation {
  position: absolute;
  top: 20px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: pink;

  @media (min-width: 768px) {
    position: absolute;
    top: 50px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 710px;
    transform: translateX(-50%);
  }

  &__list {
    display: flex;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      @media (min-width: 768px) {
        margin-right: 70px;
      }
    }

    &-link {
      @include font(15px, 500, 1.2, #ffffff);
      letter-spacing: 0.75px;
    }
  }
}
