.hero-header {
  background-image: url(../images/header/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 430px;
  background-position: top;
  padding-top: 114px;

  @media (min-width: 768px) {
    background-image: url(../images/header/header-bg-md.jpg);
    background-size: 100% 650px;
    padding-top: 190px;
  }

  @media (min-width: 1440px) {
    background-image: url(../images/header/header-bg-lg.jpg);
    background-size: 100% 1024px;
    padding-top: 252px;
  }

  &__title {
    @include font(16px, 400, 22px, #ffffff);
    letter-spacing: 0.48px;
    margin-bottom: 36px;

    @media (min-width: 768px) {
      @include font(20px, 400, 1.2, #ffffff);
      letter-spacing: 0.6px;
      margin-bottom: 50px;
    }

    @media (min-width: 1440px) {
      @include font(36px, 400, 1.2, #ffffff);
      letter-spacing: 1.08px;
      margin-bottom: 80px;
    }

    &-br {
      display: block;

      @media (min-width: 768px) {
        display: inline-block;
      }
    }

    &-wrapper {
      font-family: $main-font;
      text-align: center;
      width: 260px;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 26px;

      @media (min-width: 768px) {
        width: 450px;
        margin-bottom: 40px;
      }

      @media (min-width: 1440px) {
        width: 1216px;
        margin-bottom: 10px;
      }
    }

    &-description {
      @include font(20px, 700, 26px, #ffffff);
      letter-spacing: 0.8px;
      margin-bottom: 38px;

      @media (min-width: 768px) {
        @include font(35px, 700, 1.2, #ffffff);
        letter-spacing: 1.15px;
        margin-bottom: 50px;
      }

      @media (min-width: 1440px) {
        @include font(60px, 700, 1.2, #ffffff);
        letter-spacing: 1px;
        margin-bottom: 80px;
      }
    }
  }

  &__link {
    display: inline-block;
    margin: 0 auto;
    font-family: $main-font;
    @include font(15px, 700, 1.2, #ffffff);
    letter-spacing: 0.9px;

    @media (min-width: 1440px) {
      @include font(30px, 700, 1.2, #ffffff);
      letter-spacing: 1.8px;
    }

    &:hover {
      color: $btn-color;
    }

    &::after {
      display: block;
      content: '';
      @include size(100%, 2px);
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:hover::after {
      background-color: rgba(254, 194, 64, 0.3);
    }
  }

  &__pic {
    margin: 0 auto;
  }
}

.logo__pic {
  display: block;
}

.navigation {
  position: absolute;
  top: 20px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: pink;

  @media (min-width: 768px) {
    position: absolute;
    top: 50px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 710px;
    transform: translateX(-50%);
  }

  @media (min-width: 1440px) {
    position: absolute;
    top: 50px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1420px;
    transform: translateX(-50%);
  }

  &__list {
    display: flex;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      @media (min-width: 768px) {
        margin-right: 70px;
      }

      @media (min-width: 1440px) {
        margin-right: 98px;
      }
    }

    &-link {
      @include font(15px, 500, 1.2, #ffffff);
      letter-spacing: 0.75px;

      @media (min-width: 1440px) {
        @include font(23px, 500, 1.2, #ffffff);
        letter-spacing: 1.15px;
      }

      &:hover {
        color: $btn-color;
      }

      &::after {
        @media (min-width: 768px) {
          display: block;
          content: '';
          @include size(100%, 2px);
          background-color: transparent;
        }
      }

      &:hover:after,
      &:focus:after {
        background-color: rgba(254, 194, 64, 0.3);
      }
    }
  }
}
