.prepare {
  &__header {
    // max-width: 205px;
    max-width: 69.06%;
    margin: 0 auto 24px;

    @media (min-width: 768px) {
      max-width: 92.95%;
      margin: 0 auto 38px;
    }

    &::before {
      content: '';
      display: block;
      background-image: url(../images/specialists/specialists-md/code-md.png);
      width: 39px;
      height: 39px;
      margin: 0 auto 30px;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-width: 768px) {
        width: 50px;
        height: 50px;
        margin: 0 auto 34px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__proposition {
    @include font(16px, 700, 22px, $main-decoration-color);
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 22px;

    @media (min-width: 768px) {
      padding-top: 26px;
      @include font(20px, 700, 25px, $main-decoration-color);
    }

    @media (min-width: 1440px) {
      padding-top: 26px;
      @include font(30px, 700, 40px, $main-decoration-color);
      letter-spacing: 0.9px;
    }

    &_br {
      display: block;
    }
  }

  &__container {
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 710px;
    }

    @media (min-width: 1440px) {
      width: 1420px;
    }
  }

  &__list {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    padding: 40px;

    @media (min-width: 768px) {
      width: 48%;
      padding: 46px 36px;
    }

    @media (min-width: 1440px) {
      max-width: calc(100% / 4);
      padding: 60px 40px;
    }

    &_bgss {
      background-color: rgb(245, 249, 254);
    }

    &_bggd {
      background-color: rgb(232, 241, 250);
    }

    &_bgdd {
      background-color: rgb(245, 249, 254);

      @media (min-width: 768px) and (max-width: 1439px) {
        background-color: rgb(232, 241, 250);
      }
    }

    &_bggk {
      background-color: rgb(232, 241, 250);

      @media (min-width: 768px) and (max-width: 1439px) {
        background-color: rgb(245, 249, 254);
      }
    }

    &_wrapper {
      display: flex;
      flex-direction: column;
      /* max-width: 73.75%; */
      /* margin: 0 auto; */

      @media (min-width: 768px) {
        // width: 79%;
      }

      @media (min-width: 1440px) {
        // width: 84.5%;
      }
    }
  }

  &__title {
    @include font(20px, 700, 25px, $main-font-color);
    letter-spacing: 0.03em;
    margin-bottom: 25px;
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      @include font(25px, 700, 25px, $main-font-color);
      margin-bottom: 36px;
    }

    @media (min-width: 1440px) {
      @include font(30px, 700, 36px, $main-font-color);
      margin-bottom: 26px;
    }

    &::before {
      content: '';
      background-image: url(../images/specialists/specialists-sm/star.png);
      width: 18px;
      height: 17px;
      margin-right: 17px;
    }
  }

  &__conditions {
    @include font(25px, 700, 30px, $main-decoration-color);
    letter-spacing: 0.015em;
    margin: 0 0px 15px 0;
    position: relative;

    @media (min-width: 768px) {
      @include font(30px, 700, 36px, $main-decoration-color);
    }

    @media (min-width: 1440px) {
      @include font(40px, 700, 48px, $main-decoration-color);
      margin: 0 0 20px 0;
    }

    &_age {
      @include font(13px, 400, 22px, $main-decoration-color);
      font-family: $main-font;
      position: absolute;
      bottom: 20px;
      left: 72px;
      text-align: center;

      @media (min-width: 768px) {
        left: 87px;
      }

      @media (min-width: 1440px) {
        left: 115px;
      }

      &::after {
        content: '';
        width: 33px;
        height: 1px;
        background-color: rgb(238, 191, 62);
        position: absolute;
        display: block;
      }
    }
  }

  &__description {
    @include font(14px, 400, 24px, $main-font-color);
    letter-spacing: 0.03em;
    font-family: $main-font;

    @media (min-width: 768px) {
      @include font(16px, 400, 30px, $main-font-color);
    }
  }
}
