.review__item {
  width: 270px;
  box-shadow: 0px 10px 30px 0px rgba(2, 2, 1, 0.07);
  text-align: center;
  font-family: $main-font;
  padding: 0 28px;
}

.review__item-foto {
  border: 7px solid rgb(234, 241, 249);
  border-radius: 50%;
  margin: 0 auto;

}

.review-list-title {
  @include font(21px, 700, 30px, $main-font-color);
  letter-spacing: 0.63px;
  margin-bottom: 13px;

}

.review-list-about {
  @include font(14px, 500, 24px, $secondary-font-color);
  letter-spacing: 0.42px;
  padding-bottom: 52px;
}

.review-list-about__link {
  color: $main-decoration-color;
  font-weight: 600;
  text-decoration: underline;
}

.review__foto-wrapper {
  margin-bottom: 22px;

}



.ql {
  margin-bottom: 29px;
}

.Эллипс_1401 {
  border-style: solid;
  border-width: 7px;
  border-color: rgb(232, 241, 250);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1321px;
  top: 8575px;
  width: 104px;
  height: 104px;
  z-index: 322;
}
