.specialists {
  padding: 15px 0 0 0;

  &__question {
    @include font(30px, 900, 39px, rgb(233, 233, 243));
    letter-spacing: 0.03px;
    margin-bottom: 12px;
    text-align: center;

    @media (min-width: 768px) {
      @include font(60px, 900, 72px, rgb(233, 233, 243));
      padding-bottom: 34px;
    }

    @media (min-width: 1440px) {
      @include font(90px, 900, 108px, rgb(233, 233, 243));
      padding-bottom: 55px;
    }
  }

  &__container {
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 50px;
    }

    @media (min-width: 1440px) {
      margin-bottom: 75px;
    }
  }

  &__list {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: 1440px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &_wrapper {
      background-image: url(../images/specialists/specialists-sm/section-2-bg-sm.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      padding: 60px 0 50px 0;

      @media (min-width: 768px) {
        background-image: url(../images/specialists/specialists-md/section-2-bg-md.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding: 95px 0 90px 0;
      }

      @media (min-width: 1440px) {
        background-image: url(../images/specialists/specialists-lg/section-2-bg-lg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding: 90px 0 130px 0;
      }
    }
  }

  &__item {
    max-width: 74.137%;
    margin: 0 auto 30px;

    &:last-of-type {
      @media (max-width: 1439px) {
        margin-bottom: 0px;
      }
    }

    &:nth-child(n + 3) {
      @media (min-width: 1440px) {
        margin-bottom: 0px;
      }
    }

    &_rob-order {
      @media (min-width: 768px) {
        order: 1;
      }
    }

    &_mark-order {
      @media (min-width: 768px) {
        order: 2;
      }
    }

    &_ilon-order {
      @media (min-width: 768px) {
        order: 3;
      }
    }

    &_stiv-order {
      @media (min-width: 768px) {
        order: 4;
      }
    }

    @media (min-width: 768px) {
      max-width: 83.802%;
      margin: 0 auto 50px;
      display: flex;
    }

    @media (min-width: 1440px) {
      max-width: calc((100% - 34px * 2) / 2);
      margin: 0 0 70px 0;
    }
  }

  &__image {
    @media (max-width: 767px) {
      margin: 0 auto 23px;
    }

    @media (min-width: 768px) {
      margin: 0 55px 0 0;
    }
  }

  &__name {
    @include font(20px, 400, 24px, $main-decoration-color);
    font-family: $third-font;
    text-align: center;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }

    @media (min-width: 768px) {
      @include font(30px, 400, 36px, $main-decoration-color);
      text-align: left;
      transform: translateX(25px);
    }

    @media (min-width: 1440px) {
      @include font(35px, 400, 42px, $main-decoration-color);
    }

    &_bg-rob::before {
      @media (min-width: 768px) {
        content: '';
        background-image: url(../images/specialists/arrows/to-rob.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 53px;
        height: 31px;
        position: absolute;
        bottom: 30%;
        left: -23%;
      }

      @media (min-width: 1440px) {
        width: 61px;
        height: 35px;
        left: -27%;
      }
    }

    &_bg-ilon::before {
      @media (min-width: 768px) {
        content: '';
        background-image: url(../images/specialists/arrows/to-ilon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 61px;
        height: 25px;
        position: absolute;
        bottom: 35%;
        left: -25%;
      }

      @media (min-width: 1440px) {
        width: 75px;
        height: 31px;
        left: -27%;
      }
    }

    &_bg-mark::before {
      @media (min-width: 768px) {
        content: '';
        background-image: url(../images/specialists/arrows/to-mark-stiv.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 55px;
        height: 36px;
        position: absolute;
        bottom: 35%;
        left: -23%;
      }

      @media (min-width: 1440px) {
        width: 65px;
        height: 43px;
        left: -27%;
      }
    }

    &_bg-stiv::before {
      @media (min-width: 768px) {
        content: '';
        background-image: url(../images/specialists/arrows/to-mark-stiv.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 55px;
        height: 36px;
        position: absolute;
        bottom: 30%;
        left: -23%;
      }

      @media (min-width: 1440px) {
        width: 65px;
        height: 43px;
        left: -27%;
      }
    }

    &_wrapper {
      @media (min-width: 768px) {
        width: 52%;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
      }

      @media (min-width: 1440px) {
        width: 52.96%;
        padding-top: 50px;
      }
    }
  }

  &__description {
    @include font(16px, 400, 30px, $main-font-color);
    font-family: $main-font;
    text-align: center;
    letter-spacing: 0.03em;

    @media (min-width: 768px) {
      @include font(23px, 400, 35px, $main-font-color);
      margin-bottom: 42px;
      text-align: left;
    }

    @media (min-width: 1440px) {
      @include font(25px, 400, 35px, $main-font-color);
      margin-bottom: 58px;
    }

    &_pos {
      @media (min-width: 768px) {
        margin-bottom: 55px;
      }
    }
  }
}
