.teachers {
  padding: 56px 24px;

  &-list {
    position: relative;
    @extend %flex-between;
    flex-wrap: wrap;

    &__item {
      width: 270px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 10px 30px 0px rgba(2, 2, 1, 0.07);
    }
  }

  &__name {
    position: absolute;
    // right: 25%;
    background-color: #4f7df0;
    @include font (16px, 700, 1.2, #ffffff);
    font-family: $main-font, sans-serif;
    padding: 8px 10px 6px 10px;
    box-shadow: 7.5px 12.99px 24px 0px rgba(90, 118, 233, 0.12);
    text-transform: uppercase;
  }

  &__img {
    margin: 0 auto;
    width: 100%;
  }
}

.section__title--indent {
  margin-bottom: 34px;
}

.img-wrapper {
  position: relative;
  margin: 0 auto 46px;
}

.about-wrapper {
  text-align: left;
  padding: 0 20px;
}

.experiance {
  margin: 0 auto;
  font-family: $main-font, sans-serif;
  @include font (14px, 300, 30px, #6b6f7a);
  margin-bottom: 16px;
}

.mission {
  margin: 0 auto;
  font-family: $main-font, sans-serif;
  @include font (14px, 700, 30px, #2c2c2c);
  padding-right: 18px;
}

.slick-slide img {
  width: 100%;
}

@media (min-width: 768px) {
  .teachers-list__item {
    margin: 0 30px 20px;

    &__item {
      width: 382px;
    }
  }

  .slick-next {
    left: 25%;
  }

  .slick-prev {
    left: 25%;
  }
}


@media (min-width: 1200px) {
  .teachers-list__item {
    margin: 0 20px;

    &__item {
      width: 382px;
    }
  }

  .slick-next {
    transform: translate(-50%, 0);
  }

  .slick-prev {
    transform: translate(-50%, 0);
  }

  .teachers__container {
      width: 1224px;
  }
}
