.teachers-list {
    position: relative;
}

.img-wrapper {
    position: relative;
}

.teachers-name {
    position: absolute;
}
.teachers-list__item {
width: 380px;
margin: 0 10px;
}

.teachers-img{
margin: 0 auto;
}
