$main-font: 'Neue Helvetica';
$secondary-font: 'Oswald';
$third-font: 'Mistral';
$main-decoration-color: rgb(238, 191, 62);
$secondary-decoration-color: rgb(202, 0, 120);
$third-decoration-color: rgb(95, 124, 236);
$main-font-color: rgb(44, 44, 44);
$secondary-font-color: rgb(107, 111, 122);
$btn-color: rgb(254, 194, 64);
