.section {
  padding: 50px 0;

  &__title {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.06px;
    color: $main-font-color;
    text-transform: uppercase;
    text-align: center;

    &::before {
      content: '\005B  ';
      color: $main-decoration-color;
    }

    &::after {
      content: '  \005D';
      color: $main-decoration-color;
    }

    &_review {
      margin: 0 auto 65px;
    }
  }
}
